/*Main page start*/
html {
  background: #ccc;
  min-height: 100%;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
body {
  background-color: #f3f1cf;
  margin: 0;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex: auto;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
/*Header start*/
.header {
  width: 100%;
  max-width: 960px;
  min-width: 430px;
  margin: 0 auto 30px;
  padding: 0px 0 10px;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
}
.logo {
  height: 150px;
  width: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  font-size: 0;
  margin: -10px 10px 10px 0;
  display: flex;
  flex: none;
  align-items: center;
}
/*.site-name no animation{
    text-align: center;
    font-weight: 100;
}
*/
@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }
}
@-moz-keyframes scroll {
  0% {
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -moz-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }
}
@keyframes scroll {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
.site-name {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.site-name .site-name-span {
  display: inline-block;
  padding-left: 100%;
  -webkit-animation: scroll 10s infinite linear;
  -moz-animation: scroll 10s infinite linear;
  animation: scroll 10s infinite linear;
}
.cart-block {
  float: right;
  width: 100px;
  height: 100px;
  top: 50px;
  right: 20px;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
}
.cart-logo {
  background-image: url(images/cart-logo.png);
  background-size: cover;
  width: 100px;
  height: 100px;
}
.cart-count {
  text-align: center;
}
#count-cart {
  width: 20%;
  text-align: center;
  border-radius: 10px;
  padding: 3px;
  border-color: coral;
  border-style: double;
}
/*Header end*/
.main {
  width: 100%;
  max-width: 960px;
  min-width: 430px;
  margin: auto;
  flex-grow: 1;
  box-sizing: border-box;
}
.footer {
  background: #222;
  width: 100%;
  max-width: 960px;
  min-width: 430px;
  color: #eee;
  margin: auto;
  padding: 10px;
  box-sizing: border-box;
}
.p-footer-text {
  text-align: center;
  margin: 0;
}
.footer-email-link {
  color: aliceblue;
}
.top-nav-menu {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}
.top-nav-menu-list {
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  list-style-type: none;
  overflow: hidden;
}
.top-nav-menu-list-item {
  display: list-item;
  text-align: -webkit-match-parent;
}
.top-nav-menu-list-item-link {
  color: coral;
  font-weight: bolder;
  padding: 0;
  margin: 10px;
  text-decoration: none;
}
.top-nav-menu-list-item-link:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to bottom, #fcfff4, #e9e9ce);
  border-radius: 5px;
}
.dropdown-menu-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  max-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-menu-content .top-nav-menu-list-item-link {
  color: coral;
  padding: 4px 6px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.top-nav-menu-list-item:hover .dropdown-menu-content {
  display: block;
}
#MyAccount {
  display: none;
}
.product-list {
  list-style-type: none;
  margin-top: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
}
.product-item {
  flex: 1 0 150px;
  min-width: 250px;
  padding: 0;
  margin: 10px;
}
.product-image {
  height: 150px;
  width: 100px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  font-size: 0;
  display: flex;
  flex: none;
}
.product-description {
  max-height: 230px;
  height: 230px;
  overflow: hidden;
}
.product-description:hover {
  overflow: auto;
}
.item-name {
  text-align: center;
  word-wrap: break-word;
}
.p-item-text {
  text-align: justify;
}
.public-item-date {
  font-style: italic;
  font-size: 12px;
  color: green;
}
.p-item-text:hover {
  color: blue;
  cursor: pointer;
}
.p-item-price {
  color: firebrick;
  font-weight: bolder;
  font-style: italic;
  text-align: center;
}
.button-wrapper {
  text-align: center;
}
.item-buy {
  width: 25%;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 800;
  color: forestgreen;
  background-color: #FFEB3B;
  display: inline-block;
  padding: 5px 15px;
  text-decoration: none;
}
.item-buy:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to bottom, #fcfff4, #e9e9ce);
  color: #f28329;
}
/*Main page end*/
/*Administrator page start*/
.admin-page-title {
  text-align: center;
  color: firebrick;
  margin: 0;
}
.admin-page-description {
  text-align: center;
}
.admin-content {
  max-width: 730px;
  min-width: 550px;
  padding-left: 20%;
}
.lbl-admin-form {
  color: coral;
  font-style: italic;
  font-size: large;
  float: left;
}
/*dfsdf*/
.form-group {
  min-width: 500px;
  text-align: center;
  padding: 10px;
}
#create-item-name {
  position: relative;
  right: 95px;
  border-radius: 10px;
  padding: 3px;
  border-color: coral;
  border-style: double;
}
#create-item-description {
  position: relative;
  right: 83px;
  resize: none;
  border-radius: 10px;
  padding: 3px;
  border-color: coral;
  border-style: double;
}
#create-item-price {
  position: relative;
  right: 152px;
  border-radius: 10px;
  padding: 3px;
  border-color: coral;
  border-style: double;
}
.create-item-curency {
  position: relative;
  right: 81px;
}
#create-item-image {
  position: relative;
  right: 73px;
}
#create-item-category {
  position: relative;
  right: 179px;
  border-radius: 10px;
  padding: 3px;
  border-color: coral;
  border-style: double;
}
#create-item-date {
  position: relative;
  right: 150px;
  border-radius: 10px;
  padding: 3px;
  border-color: coral;
  border-style: double;
}
#create-item-button {
  cursor: pointer;
  border-radius: 5px;
  font-weight: 800;
  color: forestgreen;
  background-color: #FFEB3B;
  display: inline-block;
  padding: 5px 15px;
  text-decoration: none;
}
#remove-item-button {
  cursor: pointer;
  border-radius: 5px;
  font-weight: 800;
  color: forestgreen;
  background-color: #FFEB3B;
  display: inline-block;
  padding: 5px 15px;
  text-decoration: none;
}
/*Administrator page end*/
/*Autorization form start*/
.authorization-div {
  position: fixed;
  right: 10px;
  top: 30%;
  padding: 10px;
  background: #ffe;
  border: 1px solid #333;
  z-index: 100;
}
.authorization-title {
  color: coral;
  padding: 0px;
  margin: 0;
  margin-bottom: 5px;
  text-align: center;
  display: inline;
  font-size: 20px;
}
.close-authorization-div {
  float: right;
}
#close-authorization {
  cursor: pointer;
  background-image: url(images/closebutton-16x16.png);
  background-size: cover;
  width: 20px;
}
.lbl-authorization-email {
  display: block;
}
.authorization-email-group {
  margin-bottom: 5px;
}
.lbl-authorization-password {
  display: block;
}
.authorization-password-group {
  margin-bottom: 5px;
}
.forgot-pasword-link {
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
  font-size: 12px;
}
#authorization-submit {
  cursor: pointer;
  border-radius: 5px;
  font-weight: 400;
  color: forestgreen;
  background-color: #FFEB3B;
  display: inline-block;
  padding: 5px 5px;
  text-decoration: none;
}
#authorization-submit:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to bottom, #fcfff4, #e9e9ce);
  color: #f28329;
}
#checkin-button {
  cursor: pointer;
  border-radius: 5px;
  font-weight: 400;
  color: forestgreen;
  background-color: #FFEB3B;
  display: inline-block;
  padding: 5px 5px;
  text-decoration: none;
}
#checkin-button:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to bottom, #fcfff4, #e9e9ce);
  color: #f28329;
}
/*Autorization form end*/
/*Item pages start*/
.item-to-cart-wrapper {
  text-align: center;
}
/*Item pages end*/
/*Games page start*/
.page404 {
  text-align: center;
}
.game-wrapper {
  width: 100%;
  max-width: 960px;
  min-width: 430px;
  padding: 10px;
  box-sizing: border-box;
}
.game-guess-number-title {
  color: #ff0064;
  text-decoration: underline;
}
.lbl-form-game {
  color: coral;
  font-size: larger;
}
.number-1 {
  border-radius: 10px;
  padding: 3px;
  border-color: coral;
  border-style: double;
}
.submit-1 {
  cursor: pointer;
  border-radius: 10px;
  font-weight: 400;
  color: forestgreen;
  background-color: #FFEB3B;
  display: inline-block;
  padding: 5px 5px;
  text-decoration: none;
}
.submit-1:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to bottom, #fcfff4, #e9e9ce);
  color: #f28329;
}
.pc-take-number {
  font-style: italic;
  color: green;
  /*    visibility: collapse;*/
}
/*Games page end*/
/*Chekin page start*/
.checkin-page-title {
  text-align: center;
  color: firebrick;
  margin: 0;
}
.checkin-page-description {
  text-align: center;
}
.checkin-content {
  max-width: 730px;
  min-width: 550px;
  padding-left: 20%;
}
.lbl-checkin-form {
  color: coral;
  font-style: italic;
  font-size: large;
  float: left;
}
#checkin-login {
  position: relative;
  right: 95px;
  border-radius: 10px;
  padding: 3px;
  border-color: coral;
  border-style: double;
}
#checkin-password {
  position: relative;
  right: 113px;
  border-radius: 10px;
  padding: 3px;
  border-color: coral;
  border-style: double;
}
.form-group-show-pass {
  padding: 2px;
  margin-left: 260px;
}
.lbl-show-password {
  font-size: 12px;
  color: coral;
}
#show-password {
  position: relative;
}
#checkin-email {
  position: relative;
  right: 98px;
  border-radius: 10px;
  padding: 3px;
  border-color: coral;
  border-style: double;
}
#checkin-avatar {
  position: relative;
  right: 123px;
}
#checkin-button {
  cursor: pointer;
  border-radius: 5px;
  font-weight: 400;
  color: forestgreen;
  background-color: #FFEB3B;
  display: inline-block;
  padding: 5px 15px;
  text-decoration: none;
}
/*Chekin page end*/
/*Cart page start*/
.cart-page-wrapper {
  max-width: 730px;
  min-width: 550px;
}
.cart-page-title {
  text-align: center;
  color: firebrick;
  margin: 0;
  position: relative;
  padding-bottom: 20px;
}
.cart-item-block {
  height: 100px;
  margin: 0;
}
.cart-item-image {
  width: 100px;
  height: 100px;
  float: left;
  position: relative;
  padding: 10px;
}
.cart-item-description {
  display: inline;
  position: relative;
}
.cart-form-group {
  padding: 10px;
  float: right;
}
.lbl-cart-item-count {
  color: coral;
  font-style: italic;
  font-weight: 600;
}
#cart-item-count {
  width: 50px;
  position: relative;
  border-radius: 10px;
  padding: 3px;
  border-color: coral;
  border-style: double;
}
#cart-price-total {
  width: 50px;
  position: relative;
  border-radius: 10px;
  padding: 3px;
  border-color: coral;
  border-style: double;
}
#cart-item-buy {
  cursor: pointer;
  border-radius: 5px;
  font-weight: 400;
  color: forestgreen;
  background-color: #FFEB3B;
  display: inline-block;
  padding: 5px 5px;
  text-decoration: none;
}
#cart-item-buy:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to bottom, #fcfff4, #e9e9ce);
  color: #f28329;
}
/*Cart page end*/
/*dropdown navbar start*/
